[submodule "imports/GR00T-WholeBodyControl"]
	path = imports/GR00T-WholeBodyControl
	url = https://github.com/NVlabs/GR00T-WholeBodyControl.git
[submodule "imports/Isaac-GR00T"]
	path = imports/Isaac-GR00T
	url = https://github.com/NVIDIA/Isaac-GR00T.git
